*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone*
.project
.pydevproject
.settings/
bin/
buildout-cache/
checkversion*
develop-eggs/
include/
lib/
parts/
pyvenv.cfg
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
