[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.2.x.cfg
    https://dist.plone.org/release/6.2.2/versions-extra.cfg
    https://dist.plone.org/release/6.2.2/versions-ecosystem.cfg
    base.cfg

#update-versions-file = test-6.2.cfg

auto-checkout +=
    collective.eeafaceted.batchactions
    collective.eeafaceted.z3ctable
    collective.js.tooltipster
    eea.facetednavigation
    imio.actionspanel
    imio.history
    imio.migrator
    plone.formwidget.masterselect

[versions]
iw.debug = 0.3
