[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    base.cfg

#update-versions-file = test-6.0.cfg

auto-checkout +=
    collective.eeafaceted.batchactions
    imio.helpers
    imio.migrator
    imio.prettylink
    plone.formwidget.masterselect

[versions]
# to keep prompt-toolkit < 3
ipython = 8.3.0

ipdb = 0.13.9
iw.debug = 0.3
jedi = 0.18.1
parso = 0.8.3

# Required by:
# ipdb
asttokens = 2.0.8
backcall = 0.2.0
executing = 1.1.1
matplotlib-inline = 0.1.6
pexpect = 4.8.0
pickleshare = 0.7.5
ptyprocess = 0.7.0
pure-eval = 0.2.2
stack-data = 0.5.1
traitlets = 5.4.0

z3c.batching = 3.1
z3c.table = 3.0
z3c.unconfigure = 2.1
